name: build and test
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
      - develop

permissions:
  contents: read

jobs:

  buildandtest:
    name: Build and Test on Go ${{matrix.go}}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [ 'stable', 'oldstable' ]
    steps:
      - name: switch off Ubuntu security cargo-cult "fences"
        run: |
          sudo sysctl -w kernel.unprivileged_userns_clone=1
          sudo sysctl -w kernel.apparmor_restrict_unprivileged_userns=0

      - name: The Version of "The Demon"
        run: |
          sudo docker version
          sudo docker -H unix:///proc/1/root/run/docker.sock version

      - name: Set up Go ${{matrix.go}}
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version: ${{matrix.go}}
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Get dependencies
        run: go get -v -t -d ./...

      - name: Test Go packages as root
        run: go test -v -p 1 -exec sudo ./...

      - name: Test Go packages as ordinary user
        run: go test -v -p 1 ./...
