name: Build and release multi-arch container images

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
      - 'v[0-9]+.[0-9]+.[0-9]+-*'

env:
  PLATFORMS: linux/amd64,linux/arm64
  BUILDCONTEXTS: "" # ugly band-aid as per https://github.com/github/vscode-github-actions/issues/47#issuecomment-1488592302

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Check out the repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Get all git tags
        run: |
          git fetch --prune --unshallow --tags --force
          
      - name: Burn in version information
        run: go generate .

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3
        with:
          platforms: ${{ env.PLATFORMS }}

      - name: Set up Docker buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3

      - name: Log into the container registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        if: github.ref_type == 'tag'
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker metadata
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5
        id: metadata # later referenced as "steps.metadata."
        with:
          images: ghcr.io/${{ github.repository }}
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=raw,value={{sha}},enable=${{ github.ref_type != 'tag' }}

      - name: Prepare (fake) Go workspace and build contexts
        shell: bash
        run: |
          mkdir .emptyctx
          NUMCONTEXTS=9
          buildcontexts=""
          for ((ctxno=1;ctxno<=NUMCONTEXTS;ctxno++)); do
            buildcontexts+=$'\n'"bctx${ctxno}=.emptyctx"
          done
          EOF="**ENDOFTHEINTERNET**"
          echo "BUILDCONTEXTS<<$EOF" >> $GITHUB_ENV
          echo "$buildcontexts" >> $GITHUB_ENV
          echo "$EOF" >> $GITHUB_ENV

      - name: Build and push Docker image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          context: .
          file: ./deployments/lxkns/Dockerfile
          platforms: ${{ env.PLATFORMS }}
          push: ${{ github.ref_type == 'tag' }}
          tags: ${{ steps.metadata.outputs.tags }}
          labels: ${{ steps.metadata.outputs.labels }}
          build-args: |
            WSDISKPATHS=./lxkns
            GIT_VERSION=${{ github.ref_name }}
          build-contexts: |
            webappsrc=./web/lxkns
            ${{ env.BUILDCONTEXTS }}
          outputs: type=image,name=target,annotation-index.org.opencontainers.image.description=Linux
            kernel namespaces discovery

      - name: Publish compose file as OCI artifact
        if: github.ref_type == 'tag'
        shell: bash
        run: |
          echo "${{ steps.metadata.outputs.tag-names }}" | while read -r tag; do
            docker compose \
              -f deployments/oci-artifact-app/docker-compose.yaml \
              publish --resolve-image-digests \
                ghcr.io/${{ github.repository }}/app:$tag
          done
