name: build xkcd 2347
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
      - develop

permissions:
  contents: read

jobs:

  build:
    name: Build web UI
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: test build
        run: |
          corepack enable
          yarn set version berry
          yarn install
          yarn build
        working-directory: web/lxkns
